.main-excad{
    width: 100vw;
    height: 74vh;
    display: flex;
    justify-content: center;
}
.main-excad p {
    font-weight: 400;
    height: max-content;
    text-align: justify;
    font-size: 0.6rem;
    margin: 0px;
}
.painel{
    margin-top: 5vh;
    background-color: #fff;
    padding: 20px 30px;
    box-shadow: 1px 2px 5px #00000070;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
    height: fit-content;
}
h1{
    font-size: 1.6rem;
}
.dados {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}
.img-ec{
    max-width: 350px;
    height: auto;
    margin: 10px 0;
}
.btns-ec{
    display: flex;
}
.button{
    background-color: #fff;
    font-size: 0.6em;
    border: rgb(86, 86, 86) 1px solid;
    padding: 2px 6px;
    border-radius: 2px;
    color: rgb(86, 86, 86);
    margin-right: 7px;
    display: block;
    transition: 0.7s;
}
.button:hover{
    background-color:rgb(86, 86, 86);
    color: #fff;
    cursor: pointer;
    transition: 0.7s;
}
.buttons{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: stretch;
}
.btn{
    background-color: #00a1ff;
    border: #00a1ff solid 1px;
    padding: 5px 10px;
    color: #fff;
    border-radius: 5px;
    transition: 0.7s;
}
.btn:hover{
    border: #00a1ff solid 1px;
    color: #00a1ff;
    background-color: #fff;
    transition: 0.7s;
}
.excluir{
    background-color: #b70d0d;
    border: #b70d0d solid 1px;
}
.excluir:hover{
    color: #b70d0d;
    background-color: #fff;
    border: #b70d0d solid 1px;
}
.excluir i{
    margin-right: 5px;
}

@media screen and (max-width:640px){
    .dados {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}