.visita{
    display: flex;
    justify-content: center;
    height: 85vh;
    font-size: 1em;

}
.visita p{
    margin: 0;
    text-align: center;
    font-size: 1em;
}
.titulo{
    text-align: center;
    font-size: 1em;
}
.titulo p{
    font-size: 0.80em;
    font-weight: 600;
}
.titulo h1{
    color: #00a1ff;
    font-size: 1.8rem;
    line-height:  1.9em;
    margin-bottom: 10px;
}

.formvis{
    margin-top: 5vh;
    background-color: #fff;
    box-shadow: 1px 2px 5px #00000070;
    padding: 20px 30px;
    max-width: 400px;
    display: block;
    font-size: 1em;
}
.forms{
    margin: 0 auto;
    background-color: #fff;
    padding: 20px 30px;
    max-width: 400px;
    display: block;
    font-size: 1em;
}

.formvis label::before{
    content: "* ";
    color: #00a1ff;
}
.formvis label{
    font-size: 0.80em;
    margin-bottom: 5px;
    font-weight: bold;
}
.formvis input, select{
    width: 300px;
    height: 35px;
    margin: 5px 0;
    font-size: 0.80em;
    padding: 5px;
    border-radius: 3px;
    border:rgb(49, 49, 49) solid 1px;
}
.options__submit {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    padding: 8px 10px;
    font-size: .94em;
    border: 0;
    background: #00a1ff;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
}

.options__submit:hover {
    background: rgba(0, 162, 255, 0.856);
}
.button-vg{
    opacity: 0;
}
/* Segunda página */
.horarios{
    margin-top: 5vh;
    background-color: #fff;
    padding: 20px 30px;
    box-shadow: 1px 2px 5px #00000070;
    text-align: center;
    width: fit-content;
    height: fit-content;
    font-size: 1em;
}
.hdidisponiveis{
    display: flex;
    font-size: 1em;
}
.hdidisponiveis .checks{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap:10px;
    font-size: 1em;
}
.hdidisponiveis .checks div{
    font-size: 1em;
}

.hdidisponiveis .checks div label{
    font-size: 1em;
}
.button-label {
    display: inline-block;
    padding: 0.5em 1em;
    margin: 0;
    cursor: pointer;
    color: #000;
    border-radius: 0.25em;
    background: none;
    border: 2px solid #000;
    transition: 0.3s;
    user-select: none;
    font-size: 0.75rem;
}
.button-vg:checked + .button-label{
    border: 2px solid rgba(0, 162, 255, 0.856);
    color: rgba(0, 162, 255, 0.856);  
    background-color: rgba(207, 237, 255, 0.856);
}
.segundo{
    width: 100%;
}
/* Terceira página */
p.detalhes{
    margin-top: 20px;
    width: 400px;
}
.email {
    font-size: 1.5rem;
    font-weight: 600;
}