.avaliacao__container{
    width: 180px;
    height: 100%

}

.avaliacao {
    display: flex;
    padding-left: 0;
}

.star-icon {
    list-style-type: none;
    border: 1px solid #fff;
    cursor: pointer;
    color: #ffe500;
    font-size: 40px;
    /* alterar o tamanho das estrelas */
}

.star-icon::before {
    content: "\2605";
}

.star-icon.ativo~.star-icon::before {
    content: "\2606";
}

.avaliacao:hover .star-icon::before {
    content: "\2605";
} 

.star-icon:hover~.star-icon::before {
    content: "\2606";
}
.form_grupo {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    position: relative;
    flex-direction: column;
}