.avaliacao__container{
    width: 180px;
    height: 100%

}
.main_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
    margin: 0;
    height: 84vh;
    font-size: 1em;
}
.avaliacao {
    display: flex;
    padding-left: 0;
}
.star-icon {
    list-style-type: none;
    border: 1px solid #fff;
    cursor: pointer;
    color: #ffe500;
    font-size: 40px;
    /* alterar o tamanho das estrelas */
}
.star-icon::before {
    content: "\2605";
}

.star-icon.ativo~.star-icon::before {
    content: "\2606";
}

.avaliacao:hover .star-icon::before {
    content: "\2605";
} 

.star-icon:hover~.star-icon::before {
    content: "\2606";
}
.form_grupo {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    position: relative;
    flex-direction: column;
}
#box-artigo > div > form > div:nth-child(3) > div.form_message,#box-artigo > div > form > div:nth-child(3) > div.options__checkbox > label > a,#box-artigo > div > form > div:nth-child(3) > div.submit, #box-artigo > div > form > div:nth-child(3) > div.submit button {
    font-size: 1em;
}
