#subTitle {
  text-align: center;
}

#main-ong {
  width: 100%;
  max-height: max-content;
}
.carrossel {
  display: none;
}

iframe {
  margin-top: 10px;
  border-radius: 10px;
  border: 2px solid #00a1ff;
  max-width: 100%;
}
/*.degrade{
  background: rgb(200,235,255);
  background: linear-gradient(0deg, rgba(200,235,255,0) 0%, rgba(200,235,255,1) 50%, rgba(45,178,255,1) 100%);
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 10px;
  justify-content: center;
  align-items: center;
}*/

.section__ong {
  width: 80vw;
  height: fit-content;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-bottom: 50px;
  font-size: 1em;
  flex-direction: row;
  flex-wrap: wrap;
  box-shadow: 1px 2px 7px #00000070;
  border-radius: 10px;
  padding: 20px;
  z-index: 999;
  gap: 30px;
  /*background: rgb(200,235,255);
  background: linear-gradient(270deg, rgba(200,235,255,0) 0%, rgba(200,235,255,1) 50%, rgba(45,178,255,1) 100%);*/
}

#dvSlider {
  display: none;
}

ul {
  list-style: none;
}
.btn_favoritar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn_favoritar label {
  margin: 10px;
  display: flex;
  gap: 10px;
  padding: 5px 10px;
  border-radius: 15px;
  color: #00a1ff;
  align-items: center;
  justify-content: center;
  border: 2px solid #00a1ff;
}

.btn_favoritar label:hover {
  cursor: pointer;
}
.btn_favoritar input {
  display: none;
}
.btn_favoritar label.check {
  background-color: #00a1ff;
  color: #fff;
}
.btn_favoritar label.notcheck {
  background-color: #fff;
  color: #00a1ff;
}

.ong__imagens {
  width: fit-content;
  /*background: rgb(200,235,255);
  background: linear-gradient(0deg, rgba(200,235,255,0) 0%, rgba(200,235,255,1) 50%, rgba(45,178,255,1) 100%);*/
  padding: 20px;
  padding-bottom: 50px;
  border-radius: 10px;
}

.ong__informations {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  font-size: 1em;
}

.ong__imagens #imagens__container .container__item img {
  width: 300px;
  display: block;
  margin: 0 auto;
}

.ong__imagens #imagens__container .container__item + .container__item {
  margin-top: 40px;
}

.informations__description {
  margin-top: 0px;
  max-width: 700px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1em;
}
#comentarioLogado {
  text-align: left;
  color: rgb(168, 176, 173);
}
#coment_usuario .pos_editbotao{
  margin-top: -40px;
  margin-bottom: 0px;
}

#description__container {
  width: auto;
  height: auto;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  font-size: 1em;
  margin-left: 0;
  gap: 10px;
}
#description__container > div.description__about {
  font-size: 1.2em;
  padding: 10px;
  border-radius: 10px;
  /*border: 1px solid #00a1ff;*/
  background-color: #e5f6ff;
}
.description__about p {
  text-align: justify;
  font-weight: normal;
  font-size: 1em;
}

.informations__description h1 {
  font-size: 1.3em;
  text-align: center;
  margin: 20px;
}

.informations__description span {
  font-size: 1em;
  font-weight: bold;
}

.description__bank span {
  text-align: left;
}

.description__adress__bank p {
  font-weight: normal;
  text-align: left;
  font-size: 1em;
}

#description__social {
  display: block;
  width: 100%;
}

#description__social .social__item {
  display: inline;
}
.bank {
  font-weight: 500;
  text-align: left;
  font-size: 1em;
  display: flex;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.bank p {
  font-weight: normal;
  background-color: #fff;
  border-radius: 5px;
  padding: 5px;
  width: 75%;
}

#description__social .social__item a img {
  width: 35px;
}

.informations__botons {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1em;
}

.informations__botons > .informations__donation > input[type='button'],
.informations__botons button {
  background-color: #00a1ff;
  border: #00a1ff solid 1px;
  padding: 5px 10px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bolder;
}

.informations__botons > .informations__donation > input[type='button'] {
  width: 200px;
  padding: 10px;
  margin-right: -12%;
}

.informations__donation {
  margin-bottom: 20px;
}

.informations__comments {
  display: flex;
  justify-content: space-between;
  align-items: left;
  width: 100%;
  font-size: 1em;
}
div.informations__comments > #comments {
  width: 82%;
  resize: none;
  border: 1px solid black;
  font-size: 1em;
  margin-left: 100px;
}
/* #comments::placeholder {
  padding-top: 2px;
  padding-left: 5px;
}
.description__social {
  padding-left: 0;
} */

.buttons__container {
  margin: 10px 0px;
  font-size: 1em;
  width: 100%;
}

.buttons__container button {
  width: 100%;
  display: block;
  margin: 0 auto;
  font-weight: bold;
  font-size: 1em;
}

.buttons__container button + button {
  margin-top: 20px;
}

.buttons__container button img {
  width: 15px;
}

.buttons__container button p {
  display: inline;
  vertical-align: 5px;
  font-size: 1em;
}

.description__adress__bank {
  /* display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;*/
  font-size: 1.2em;
  margin-left: 0px;
}
.description__adress {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  /*border: 1px solid #00a1ff;*/
  background-color: #e5f6ff;
}
.description__bank {
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: left;
  /*border: 1px solid #00a1ff;*/
  background-color: #e5f6ff;
  margin-top: 10px;
}

.description__adress,
.description__bank,
.description__adress p {
  font-size: 1em;
  /* word-wrap:break-word; */
  /* text-align: center; */
}

.description__adress__bank > .description__bank > p:nth-child(1) {
  margin-bottom: 0px;
  font-size: 1em;
  font-weight: bold;
  /* word-wrap:break-word; */
}

/* .description__adress__bank > .description__bank > p:nth-child(1), .description__adress__bank > .description__bank > p:nth-child(2), .description__adress__bank > .description__bank > p:nth-child(4), .description__adress__bank > .description__bank > br + p{
    font-weight: bold;
    word-wrap:break-word;
    text-align: center;
} */
/*--- Novo ---*/
.options__photos {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 98vw;
  background-image: url(../../../public/imgs/Cenario.png);
  background-repeat: repeat-x;
  background-size: contain;
  padding-left: 10vw;
}

.options__photos img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 20px;
  margin: 25px 0px;
  z-index: 999;
  border: 2px solid #00a1ff;
  background-color: #00a1ff;
}
.OngPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.ong__imagens {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 0px;
}
.ong__image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: inset 0px 0px 24px -15px rgba(0, 0, 0, 1);
  -webkit-box-shadow: inset 0px 0px 24px -15px rgba(0, 0, 0, 1);
}
.btns_card {
  margin-top: 20px;
}

/* Comentários */
.secao_coments {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  padding-bottom: 50px;
  font-size: 1em;
}
#coment_usuario {
  height: auto;
  border-top: 2px solid #ebebeb;
  display: flex;
  padding-right: 20px;
  padding-top: 10px;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 1em;
}
#img-feed {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.texto {
  width: 100%;
  margin-left: 15px;
  text-align: justify;
  font-size: 1em;
}
.texto input {
  width: 100%;
}

.texto h4,
.texto p,
.texto p i {
  font-size: 1em;
}
.pos_editbotao {
  text-align: right;
  margin-top: -40px;
  margin-bottom: -10px;
  font-size: 1em;
}
.pos_editbotao {
  text-align: right;
  margin-top: -40px;
  margin-bottom: -10px;
  font-size: 1em;
}

.editbotao {
  text-align: right;
  text-decoration: dashed;
  margin-top: 10px;
  margin-left: 15px;
  padding: 5px;
  border-radius: 5px;
  border: #00a1ff solid 1px;
  background-color: #fff;
  color: #00a1ff;
  font-size: 1em;
}

.editbotao:hover {
  color: #fff;
  background-color: #00a1ff;
}
.coments {
  height: auto;
  border-top: 2px solid #ebebeb;
  display: flex;
<<<<<<< HEAD
  padding-right: 10px;
=======
  grid-template-columns: 1fr 1fr;
  padding-right: 250px;
>>>>>>> b231d3d468b443f487dc3d23b894432ea45919a9
  padding-top: 10px;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 1em;
  max-width: fit-content;
}
.coments p{
  white-space: pre-wrap;
}
.coments textarea{
  overflow: hidden;
}
.notComments{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.notComments button:hover{
  cursor: pointer;
}
/* ===== MODAL =====*/
body.body-no_scroll {
  overflow: hidden;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  display: none;
}

.modal-wrapper.opened-modal {
  visibility: visible;
  opacity: 1;
  display: flex;
}

.modal-content {
  background: #fff;
  padding: 1.5rem;
  border-radius: 0.625rem;
  width: min(90%, 30rem);
  position: relative;
}

.modal-content .button-close {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  width: max-content;
  background: none;
}

.modal-content .button-close svg {
  width: 2rem;
  height: 2rem;
  stroke: #000;
}

.modal-content > svg:hover {
  stroke: #00a1ff;
}

.modal-title {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

.modal-subtitle {
  text-align: center;
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.modal-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.2);
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
}

.modal-link .btn-copy {
  width: max-content;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.modal-link .btn-copy svg {
  width: 1.5rem;
  height: 1.5rem;
}

/* Avaliar */
.avaliacao__container {
  width: 180px;
  height: 100%;
}
.main_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
  margin: 0;
  height: 5%;
  font-size: 1em;
}
.avaliacao {
  display: flex;
  padding-left: 0;
}
.star-icon {
  list-style-type: none;
  cursor: pointer;
  color: #ffe500;
  font-size: 40px;
  /* alterar o tamanho das estrelas */
}
.star-icon::before {
  content: '\2605';
}

.star-icon.ativo ~ .star-icon::before {
  content: '\2606';
}

.avaliacao:hover .star-icon::before {
  content: '\2605';
}

.star-icon:hover ~ .star-icon::before {
  content: '\2606';
}
.star-icon-comment {
  list-style-type: none;
  cursor: pointer;
  color: #ffe500;
  font-size: 20px;
  /* alterar o tamanho das estrelas */
}
.star-icon-comment::before {
  content: '\2605';
}

.star-icon-comment.ativo ~ .star-icon-comment::before {
  content: '\2606';
}

.form_grupo {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  position: relative;
  flex-direction: column;
}
#box-artigo > div > form > div:nth-child(3) > div.form_message,
#box-artigo > div > form > div:nth-child(3) > div.options__checkbox > label > a,
#box-artigo > div > form > div:nth-child(3) > div.submit,
#box-artigo > div > form > div:nth-child(3) > div.submit button {
  font-size: 1em;
}
.textoComent {
  border: none;
  outline: none;
  width: 100%;
  overflow-y: scroll;
  max-height: max-content;
  resize: none;
}
.main-comentarios {
  overflow-y: scroll;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
}

/* Responsividade */

@media screen and (max-width: 1500px) {
  #comments {
    width: 80%;
  }

  .buttons__container {
    margin-left: 5px;
  }
  .section__ong {
    justify-content: space-around;
  }
}

@media screen and (max-width: 1350px) {
  .section__ong {
    width: 80vw;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;
    font-size: 1em;
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow: 1px 2px 7px #00000070;
    border-radius: 10px;
    padding: 20px;
    z-index: 999;
    gap: 30px;
    align-content: center;
  }
}

@media screen and (max-width: 850px) {
  .secao_coments {
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .informations__botons {
    align-items: center;
  }

  .ong__informations {
    margin: 0%;
    margin-bottom: 50px;
  }
  .informations__comments {
    flex-direction: column;
  }

  #comments,
  .buttons__container {
    width: 100%;
  }

  .buttons__container {
    margin: 0;
    margin-top: 10px;
    display: flex;
  }

  .buttons__container button + button {
    margin-top: 0px;
  }

  .buttons__container button {
    width: 40%;
    padding: 10px;
    font-size: 1.05em;
  }

  .informations__botons > .informations__donation > input[type='button'] {
    padding: 13px;
    font-size: 1.05em;
  }
  #subTitle {
    text-align: center;
    margin-top: 30px;
  }
  .informations__description h1 {
    margin-bottom: 10px;
  }

  .informations__description span {
    display: block;
    margin: 10px 0px;
  }

  .section__cards .card {
    margin: 0 5px 30px 0;
  }

  .container__subtle {
    margin: 13% 0px 10%;
  }
}

#root > main > section > section.ong__imagens > div > p {
  background-color: transparent;
  font-size: 0.6em;
  border: rgb(68, 68, 68) 1px solid;
  padding: 2px 6px;
  border-radius: 2px;
  color: rgb(68, 68, 68);
  margin-right: 7px;
  display: block;
  transition: 0.7s;
  cursor: default;
}

/* Avaliar */
@media screen and (max-width: 470px) {
  .ong__informations {
    padding: 50px 15px;
  }

  .section__ong {
    margin-top: 0;
    width: 100vw;
  }

  .informations__description h1 {
    font-size: 1.3em;
  }
  .description__adress__bank p {
    font-weight: normal;
    text-align: left;
    font-size: 1em;
    overflow-x: scroll;
  }
}

@media screen and (max-width: 400px) {
  .section__ong {
    margin-top: 0%;
  }

  .ong__informations {
    margin: 5%;
  }

  .informations__description {
    height: 100%;
  }

  .container__subtle {
    margin: 50% 0px 10%;
  }
}

.container_form {
  width: 100%;
}
