/*Banner*/
.main_home{
  height: 85vh;
}
.principal{
  background-image: url(../imgs/fundo_home.png);
  padding-top:0px;
  padding-bottom: 0px;
  margin: 0;
  width: 100%;
  height: 420px;
  background-repeat: no-repeat;
  background-size: cover; 
  display: flex;
  align-items: flex-end;
}
#title-index{
  padding: 0 10px;
}
.busca{
  background-color: #fff;
  text-align: center;
  border-radius: 20px 20px 0 0;
  padding-top:30px;
  width: 70vw;
  height: 200px;
  margin: 0 auto;
  margin-top: 250px;
}
.buscador{
  display:inline-flex;
  position: relative;
  flex-wrap: wrap;
  padding: 0 30px;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  background-color: none;
  align-items: center;
}
.search{
  background-color: #00a1ff;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  margin-bottom: 0px;
  transition: 0.7s;
}
.search:hover{
  border: #00a1ff solid 1px;
  background-color: #fff;
  transition: 0.7s;
}
.search i{
  color: #fff;
  margin-top: 10px;
  font-size: 20px;
  transition: 0.7s;
}
.search:hover i{
  color: #00a1ff;
  transition: 0.7s;
}
.buscador select{
  background-color: #fff;
  height: 40px;
  width:250px;
  padding-left: 5px;
  color: rgb(46, 46, 46);
  border: #000 solid 1px;
  border-radius: 3px;
  margin-right: 7px;
  margin-bottom: 5px;
}
#main-index{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px auto;
  width: 70vw;
}

.section__cards{
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
  gap: 20px;
}
@media screen and (max-width:550px) {
  .busca{
    height: 350px;
  }
  #title-index {
    font-size: 1.3rem;
  }
}
@media screen and (max-width:550px) {
  .busca{
    width: 90vw;
  }
}