/* Tag gerals */
#cadastro {
    width: 100%;
    height: 110vh; 
    /*Para que a tela não fique com a barra lateral eu estou tirando todos os pixel de elementos fixados (header + footer)*/
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#cadastro img{
    height: 250px;
}
#home-acess{
    z-index: 999;
}
aside {
    height: calc(100vh - 110px);
    display: flex;
    border-right: #00a1ff 1px solid;
}

aside img{
    width: 50vw;
    height: 100%;
}
#cadastro__section {
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 0;
    background-color: #fff;
    flex-wrap: wrap;
}
#cadastro__section div img {
    width: 400px;
}

/* Formulario */
.section__form {
    height: max-content;
    box-shadow: 1px 2px 7px #00000070;
    padding: 30px;
    position: relative;
    margin: 0px;
    border-radius: 10px;
    width: 600px;
}

.section__title {
    width: 100%;
    text-align: center;
    font-size: 2em;
    margin: 10px 0px;
}

.form__group {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin: 0px;
}
.form__group select{
    width: 100%;
}

.form__group .group__text label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form__group .group__text label::before,
.about__radios p::before {
    content: "* ";
    color: #00a1ff;
    margin-bottom: 10px;
}

.group__text {
    width: 100%;
}

.group__about {
    width: 40%;
}

.form__group .group__text label+input:not([type="file"]),
.form__group .group__text #group__select>select {
    width: 100%;
    outline: none;
    border: 1px solid black;
    font-size: .9em;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.form__group .group__text #group__select>select {
    --webkit-appearance: none;
    padding: 0;
}

#group__select {
    position: relative;
    width: 100%;
    height: 100%;
}

.group__about {
    display: flex;
    flex-direction: column;
}

.about__radios {
    width: 100%;
    height: auto;
}

.about__radios p {
    font-weight: bold;
}
.about__radios p:first-child {
    margin-bottom: 10px;
}
.radio__options{
    height: 20px;
    display: flex;
    height: auto;
    align-items: center;
}
.radio__options label{
    margin-left: 5px;
    margin-bottom: 0px;
    font-weight: normal;
}
.options__checkbox {
    display: flex;
    align-items: baseline;
    margin-top: 10px;
    gap: 0 5px;
    justify-content: flex-start;
}
label[for="termos"]>a {
    color: #00a1ff;
}

label[for="termos"],
#termos {
    font-size: .83em;
    margin-left: 0px;
    margin-right: 5px;
    width: fit-content;
}

.options__submit {
    width: 100%;
    padding: 8px 10px;
    font-size: 15px;
    border: 0;
    background: #00a1ff;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
    text-align: center;
}

.options__submit:hover {
    background: rgba(0, 162, 255, 0.856)
}
/* Form 2*/
.form-2 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 5px;
}
.form-2 label::before{
    content: "* ";
    color: #00a1ff;
    margin-bottom: 10px;
}
.form-2 input:not([type="file"]){
    width: 100%;
    outline: none;
    border: 1px solid black;
    font-size: .9em;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.form-2 input[type="file"]{
    width: 200px;
}
.form-2 a{
    text-align: center;
}
.buttons-form2{
    display: flex;
    gap: 5px;
    text-align: center;
}
.collum {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.collum select{
    width: 100%;
}
.form-2 textarea{
    height: 88%;
    outline: none;
    border: 1px solid black;
    font-size: .9em;
    padding: 10px;
    border-radius: 5px;
}
.voltar{
    color: rgba(0, 0, 0, 0.5);
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transition: box-shadow 0.3s;
    background: #fff;
    font-size: 1rem;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    padding: 8px 10px;
    font-size: 15px;
}
.banco{
    display: flex;
    gap: 2px;
}
.row{
    display: flex;
    gap: 2px;
    width: 100%;
}
.row .cep, .bairro{
    width: 90%;
}

/* Mensagens */
.mensagem{
    height: 20px;
    width: 100%;
    text-align: center;
    color: #c90000;
    font-size: 1em;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 5px;
}
.mensagem i{
    height: 20px;
    color: #c90000;
    font-size: 1em;
}
.err-senha{
    height: 20px;
    width: 100%;
    text-align: center;
    color: #c90000;
    font-size: 1em;
}
.popup{
    position: fixed;
    left: 0;
    top: 0;
    background-color: #00000073;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boxpopup{
    background-color: #fff;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px #00000070;
    padding: 5px;
}
.boxpopup i{
    color: #0080C9;
    font-size: 5em;
}
.boxpopup p{
    font-weight: 500;
    color: #323232;
    padding: 10px;
}
@keyframes progressBar {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
}
  
.progress-bar {
    height: 7px;
    border-radius: 15px;
    background-color: #0080C9;
    left: 0;
    top: 0;
    animation: progressBar 2s linear forwards;
    margin: 5px;
}
/* Form 3*/
.form-3 label::before{
    content: "* ";
    color: #00a1ff;
    margin-bottom: 10px;
}
.form-3 input{
    width: 100%;
    outline: none;
    border: 1px solid black;
    font-size: .9em;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Três botões */
.section__radio {
    position: absolute;
    bottom: -15%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.radio__group {
    list-style: none;
}

.radio__group li {
    display: inline-block;
    margin: 0px 10px;
}

.radio__input {
    cursor: pointer;
    appearance: none;
    width: 29px;
    height: 29px;
    border: 3px solid #00a1ff;
    border-radius: 50%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    outline: none;
}

.radio__input:before {
    content: '';
    width: 19px;
    height: 19px;
    background: #00a1ff;
    border-radius: 50%;
    opacity: 0;
    transition: all 600ms ease-in-out;
    position: absolute;
}

.radio__input:checked:before {
    opacity: 1;
}

.radio__input:focus {
    box-shadow: 0 0 5px #00a1ff;
}

.radio__span-one:before,
.radio__span-one:after {
    content: ' ';
    position: absolute;
    left: 37px;
    width: 17%;
    border-top: 5px solid #00a1ff;
    margin-top: -10.3%;
}

.radio__span-two:before,
.radio__span-two:after {
    content: ' ';
    position: absolute;
    left: 91px;
    width: 17%;
    border-top: 5px solid #00a1ff;
    margin-top: -10.3%;
}

input[type="radio"],
input[type="checkbox"] {
    accent-color: #0080C9;
}

/* Responvidade */

@media only screen and (max-width: 1440px) {
    #cadastro__section div img {
        width: 300px;
    }
    .form__group{
        font-size: 14px;
        flex-direction: column;
    }
}

@media only screen and (max-width: 1110px) {
    .form__group {
        justify-content: space-evenly;
        flex-direction: column;
    }

    label[for="termos"] {
        font-size: .8em;
    }
}

@media only screen and (max-width: 1140px) {
    .aside{
        display: none !important;
    }
    #cadastro__section {
        flex-direction: column-reverse;
        margin-top: 2%;
    }

    label[for="termos"] {
        font-size: .85em;
    }

    #cadastro {
        font-size: 0.88em;
    }
}
@media screen and (max-width:1050px) {
    #cadastro img{
        height: 170px;
    }
}
@media screen and (max-width:900px) {
    #cadastro img{
        display: none;
    }
}
@media screen and (max-width:800px) {

    .form__group {
        justify-content: center;
        flex-direction: column;
    }

    .group__text {
        margin-right: 20px;
    }
}
@media screen and (max-width:670px){
    .form__group {
        flex-direction: column;
    }
    #cadastro__section div img {
        display: none;
    }
    .group__text,.group__about  {
        width: 100%;
    }
    .radio__span-two:before, .radio__span-two:after{
        width: 15%;
    }
    #cadastro_section{
        justify-content:flex-start;
    }
    .section__form {
        width: 95vw;
    }

}
@media screen and (max-width:670px){
    #cadastro {
        font-size: 0.75em;
    }
    #cadastro__section{
        height: 100vh;
    }
    .radio__span-two:before, .radio__span-two:after{
        width: 13%;
    }
    .about__radios {
        height: auto;
    }
    .radio__input {
        width: 20px;
        height: 20px;
    }
    .radio__span-two:before, .radio__span-two:after,.radio__span-one:before, .radio__span-one:after{
        content: ' ';
        left: 30px;
        width: 17%;
        border: 1px solid #00a1ff;
        margin-top: -8.3%;
    }
    .radio__span-one:before, .radio__span-one:after{
        left: 73px;
    }
}

@media screen and (max-height:880px) {
    .section__radio{
        bottom: -10%;
    }
}

@media screen and (max-height:750px) {
    #cadastro__section{
        align-items: center;
    }
}

@media screen and (max-width:1050px) and  (max-height:650px) {
    #cadastro{
        height: 110vh;
    }
}

@media screen and (max-width:400px) and  (max-height:770px) {
    #cadastro{
        height:100vh;
    }
}