* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*  ----------------------- Estrutura da página --------------------------- */
/*Relatórios*/
.bar-admin{
    width: 100%;
    padding: 5px 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00a1ff;
    color: #fff;
}
.perfil-admin{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
#edit-admin {
    width: 100%;
    height: 100vh;
    margin: 0px;
    display: flex;
    place-content: center;
    background: #fff;
    flex-direction: column;
}

.edit__conteiner-admin {
    width: 100%;
    height: 100%;
    display: flex;
    place-content: center;
    background: transparent;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.edit__content-admin{
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: #e2f4ff;
    background-color: #fff;
    font-size: 1rem;
    padding: 30px;
}

.edit__content-admin h2 {
    font-size: 40px;
    margin-bottom: 20px;
}
.day{
    display: flex;
    gap: 0px 15px;
}
.day a{
    color: #fff;
    transition: 0.7s all;
}
.day a:hover{
    text-decoration: underline;
    transition: 0.7s all;
}
.options__itens-admin{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
}
.options__itens-admin li{
    background-color: #7e7e7e;
    border: none;
    padding: 10px 25px;
    transition: 0.7s all;
    width: 200px;
    margin: 0px;
}
.options__itens-admin li .options__item{
    transition: 0.7s all;
    color: #fff;
}
.options__itens-admin li:not(.select):hover{
    background-color: #161616;
    cursor: pointer;
}
.options__itens-admin .select{
    background-color: #000;
}
.options__itens-admin li {
    position: relative;
    padding: 10px;
}

.options__itens-admin li>a {
    font-size: 18px;
}

.edit__options-admin {
    background: #7e7e7e;
    width: 100%;
    height: fit-content;
    font-size: 1rem;
    text-align: center;
    border-right: none;
    display: flex;
    flex-direction: row;
    
}
.dados{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    flex-direction: row;
}
.num{
    width: 300px;
    background-color: #fff;
    box-shadow: 0px 0px 5px #00000024;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.num h3{
    color: #00a1ff;
    font-size: 5rem;
}
.grafico{
    width: 600px;
    height: 435px;
    background-color: #fff;
    box-shadow: 0px 0px 5px #00000024;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.grafico h4{
    margin-top: 10px;
}
.grafico + div{
    width: 100% !important;
    height: 100% !important;
}
.ongs-admin{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: -30px;
}
.menu-ongs{
    width: 200px;
    background-color: #85d2ff;
    border: none;
}
.options__itens-ongs{
    display: flex;
    flex-direction: column;
    transition: 0.7s all;
    width: 200px;
    margin: 0px;
}
.options__itens-ongs .select{
    background-color: #00a1ff;
}
.options__itens-ongs li {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.options__itens-ongs li:hover {
    background-color: #00a1ff;
}
.options__itens-ongs li a{
    color: #fff;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}
.ongs-aside{
    padding: 20px;
}
.buscar{
    display: flex;
    gap: 5px;
}
.buscar input{
    width: 80%;
    outline: none;
    border: 1px solid black;
    font-size: .9em;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 10px;
}



/*--------------------------------*/


/* Divisão de largura */



/*  ----------------------- aside --------------------------- */
.options__photos {
    display: block;
    margin-top: 30px;
}
.options__photos h1{
    padding:5px
}
.options__photos i {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    color: #fff;
}




.options__item {
    text-decoration: none;
    color: black;
}

.options__item:hover {
    color: rgba(23, 23, 23, 0.92);
}

/*  ----------------------- main content --------------------------- */

.content__form label {
    font-size: 20px;
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.content__form input:not([type="file"]),
.content__form textarea {
    width: 100%;
    padding: 14px;
    border-radius: 5px;
    border: .4px solid black;
    font-size: 16px;
}

#Sobre {
    resize: vertical;
    min-height: 200px;
    max-height: 350px; 
}
#descricao{
    width: 100%;
    padding: 14px;
    border-radius: 5px;
    border: .4px solid black;
    font-size: 16px;
}
.rowform {
    display: flex;
    gap: 10px;
}

/* Colocar o botão no final */
.form__button {
    width: 50%;
    text-align: center;
    display: block;
    margin: 0 auto;
}
.group__about .form__button {
    width:fit-content;
    text-align: center;
}
.form__button button{
    padding: 9px 30px;
    border: none;
    outline: none;
    background-color: #00a1ff;
    border: #00a1ff solid 1px;
    color: #fff;
    font-family: inherit;
    font-size: 1rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 6px;
    margin: 10px auto;
    cursor: pointer;
    transition: 0.7s all;
}
.form__button button:hover{
    border: #00a1ff solid 1px;
    color: #00a1ff;
    background-color: #fff;
}
/* Alterar Senha*/
.edit__content-admin label::after{
    content:":";
}
.senha{
    display:flex;
    flex-direction: column;

    gap:10px;
}

/*Deletar conta*/
.buttons-delete{
    margin:5px 0;
}
.button-as{
    padding: 9px 30px;
    border: none;
    outline: none;
    background-color: #00a1ff;
    border: #00a1ff solid 1px;
    color: #fff;
    font-family: inherit;
    font-size: 1em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 6px;
    margin: 10px auto;
    cursor: pointer;
    transition: 0.7s all;
}
.button-as:hover{
    border: #00a1ff solid 1px;
    color: #00a1ff;
    background-color: #fff;
}
.delete{
    background-color: #cd0101;
    border: #cd0101 solid 1px;
    margin:5px 0;
}
.delete:hover{
    border: #cd0101 solid 1px;
    color: #cd0101;
}
.mensagem{
    color:#cd0101;
}
.mensagem-as{
    color:rgb(0, 207, 0);
}
.button-s:hover{
    background-color: #00a1ff;
    border: #00a1ff solid 1px;
    color: #fff;
}
.button-s{
    padding: 9px 30px;
    border: none;
    outline: none;
    border: #00a1ff solid 1px;
    color: #00a1ff;
    background-color: #fff;
    font-family: inherit;
    font-size: 1rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 6px;
    margin: 10px auto;
    margin-right: 5px;
    cursor: pointer;
    transition: 0.7s all;
}

/*----------------  Novo ----*/
.options__photos{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 98vw;
    background-image: url(../../../public/imgs/Cenario.png);
    background-repeat: repeat-x;
    background-size: contain;
    padding-left: 10vw;
}
#edit {
    width: 98vw;
    height: auto;
    margin: 0px auto;
    display: flex;
    background-color: #fff;
    place-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5vh;
}

.options__photos i {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 20px;
    margin: 25px 0px;
    z-index: 999;
    border: 2px solid #00a1ff;
    background-color: #00a1ff;
    color: #fff;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.options__photos h1 {
    background-color: #00a1ff;
    color: #fff;
    padding:10px 15px;
    padding-left: 30px;
    border-radius: 0px 10px 10px 0px;
    margin-left: -15px;
}

.content__form {
    display: flex;
    gap: 10px;
    flex-direction: column;
}
#descricao {
    width: 100%;
    padding: 14px;
    border-radius: 5px;
    border: .4px solid black;
    font-size: 16px;
    height: 155px;
}
.agencia{
    margin-top: 25px;
}

.content__form input+label {
    margin-top: 25px;
}
.content__form datalist+label {
    margin-top: 25px;
}
.form__button button {
    padding: 9px 30px;
    border: none;
    outline: none;
    background-color: #00a1ff;
    border: #00a1ff solid 1px;
    color: #fff;
    font-family: inherit;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 51px;
    border-radius: 6px;
    margin: 10px auto;
    cursor: pointer;
    transition: 0.7s all;
    width: 100%;
    margin-top: 50px;
}
.card_admin{
    display: flex;
    flex-direction: row;
    padding:10px;
    border: 1px solid rgb(81, 81, 81);
    border-radius: 5px;
    gap: 5px 50px;
    width: fit-content;
    justify-content: space-between;
    align-items: center;
}
.card_admin{
    width: 450px;
}
.ongs, .users{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.infos, .actions{
    display: flex;
    flex-direction: column;
}
.info_card{
    margin-top: 10px;
    display:flex;
    flex-direction: row;
    gap: 5px;
}
.info_card p{
    font-size: smaller;
    border-radius: 2px;
    padding: 2px 5px;
    border: 1px solid rgb(81, 81, 81);
    color: rgb(81, 81, 81);
}
.actions{
    gap: 5px;
}
.actions a{
    color: #fff;
    background-color: #00a1ff;
    border: #00a1ff 1px solid;
    padding: 5px 15px;
    border-radius: 5px;
    text-align: center;
    transition: 0.7s all;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.actions a:hover{
    color: #00a1ff;
    background-color: #fff;
    border: #00a1ff 1px solid;
}
.formPage-admin{
    display: flex;
    flex-direction: column;
}
.formPage-admin input{
    width: 100%;
    outline: none;
    border: 1px solid black;
    font-size: .9em;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.button-ad{
    width: 100%;
}

/*--- Deletar ---*/
.btnsDel{
    display: flex;
    gap: 5px;
}
.cancelarDel{
    color: #fff;
    background-color: #00a1ff;
    border: #00a1ff 1px solid;
    padding: 5px 15px;
    border-radius: 5px;
    text-align: center;
    transition: 0.7s all;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.cancelarDel:hover{
    color: #00a1ff;
    background-color: #fff;
    border: #00a1ff 1px solid;
}
.Del{
    color: #00a1ff;
    background-color: #fff;
    border: #00a1ff 1px solid;
    padding: 5px 15px;
    border-radius: 5px;
    text-align: center;
    transition: 0.7s all;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.Del:hover{
    color: #fff;
    background-color: #00a1ff;
    border: #00a1ff 1px solid;
}
/*------------ Media ---*/

@media screen and (max-width: 1000px) {
    .content__form {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}
@media screen and (max-width: 860px) {
    .options__itens-admin li a{
        font-size: 1rem;
    }
    .options__photos{
        width: 95vw;
    }
    .options__photos h1 {
        font-size: 1.2rem;
    }
    #edit {
        width: 95vw;
    }
    .rowform{
        display: flex;
        gap:10px;
        flex-direction: column;
    }
}
@media screen and (max-width: 750px) {
    .options__itens-admin li a{
        font-size: 0.8rem;
    }
    .options__itens-admin li{
        background-color: #00a1ff;
        border: none;
        border-radius: 5px 5px 0px 0px;
        padding: 5px 7px;
        transition: 0.7s all;
    }
}