* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  a {
    text-decoration: none;
  }
  .section__form-as {
    height: 83vh;
    display: flex;
  }
  .profile {
    display: flex;
    gap: 5rem;
    margin: 1rem auto;
    justify-content: center;
    align-items: center;
  }
  
  .profile.column {
    flex-direction: column;
    gap: 0;
  }
  
  .profile .container {
    width: 100%;
  }
  
  .profile .container + .container {
    display: flex;
    align-items: center;
    justify-content:center;
  }
  
  .profile .container .container-subtitle {
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 0.5rem;
    margin-top: 3rem;
  }
  
  .profile .container .activity-history {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .profile .container .activity-history a {
    width: max-content;
    color: #000;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
    position: relative;
  }
  
  .profile .container .activity-history a::before {
    content: "";
    position: absolute;
    width: 0;
    bottom: 0;
    left: 2.25rem;
    height: 1px;
    background: #000;
    transition: 0.3s;
  }
  
  .profile .container .activity-history a:hover::before {
    width: 75%;
  }
  
  .profile .container .activity-history a i {
    font-size: 1.25rem;
  }
  
  .profile .container .link-underline {
    text-decoration: underline;
    color: #00a1ff;
  }
  
  .profile .container .button-switch {
    margin-top: 1.5rem;
    display: flex;
    background: none;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border: none;
    width: 75%;
  }
  
  .profile .container .button-switch .switch {
    width: 2.25rem;
    height: 1.25rem;
    background: #000;
    border-radius: 10px;
    position: relative;
    padding: 0.15rem;
  }
  
  .profile .container .button-switch .switch::before {
    content: "";
    position: absolute;
    left: 0.1rem;
    background: #fff;
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    transition: transform 0.3s;
  }
  
  .profile .container .button-switch.active-switch .switch::before {
    transform: translateX(0.975rem);
  }
  
  .profile .container .container-img {
    width: 20rem;
  }
  
  .profile .page-subtitle {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
  }
  
  .profile .form-profile {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  .profile .form-profile div {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }
  
  
  
  .profile .form-profile div input {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    outline: none;
  }
  
  .button-as {
    padding: 0.5rem 1rem;
    width: max-content;
    background: #00a1ff;
    border: 1px solid #00a1ff;
    font-weight: 500;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.7s all;
  }
  .button-as:hover {
    background: #fff;
    border: 1px solid #00a1ff;
    color: #00a1ff;
  }
  
  .profile .container.container-imgs {
    flex-direction: column;
  }

@media screen and (max-width:850px) {
    .profile .container + .container{
        display: none;
    }
}
  