.cardR{
    display: block;
    margin:0;
    padding-bottom: 10px;
    width: 200px;
    border-radius: 7px;
    box-shadow:0px 5px 10px rgba(0, 0, 0, 0.226);
    transition: 0.7s;
    height: 164px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 1em;
}
.card__conteiner{
    font-size: 1em;
}
#conteudo > div.card__conteiner > a{
    font-size: 1em;
}   

a:hover .cardR{
    box-shadow:0px 3px 15px rgba(0, 0, 0, 0.550);
    transition: 0.7s;
}
a .cardR h2{
    text-decoration: none;
    text-align: left;
    font-size: 1em;
}
.cardR:hover{
    cursor: pointer;
}
.cardR a:-webkit-any-link{
    color: #000;
    text-decoration: none;
}
.cardR h2{
    padding: 5px 0px 7px 0px;
    margin-left: 7px;
    font-size: 0.8em;
    color: #000;
}
.pa{
    border-radius: 7px 7px 0 0;
    width: 100%;
    padding: 20px 30px;
    display: flex;
}
.pa{
    background-color: #00a1ff;
}
.pa img{
    margin: 0 auto;
}
#conteudo > div.card__conteiner > a:nth-child(2) > div > div:nth-child(4), #conteudo > div.card__conteiner > a:nth-child(1) > div > div:nth-child(4){
    font-size: 1em;
}
.cardR .buttonR{
    background-color: #fff;
    font-size: 0.6em;
    border: rgb(86, 86, 86) 1px solid;
    padding: 2px 6px;
    border-radius: 2px;
    color: rgb(86, 86, 86);
    margin-left: 7px;
    transition: 0.7s;
}

.cardR .buttonR:hover{
    background-color:rgb(86, 86, 86);
    color: #fff;
    cursor: pointer;
    transition: 0.7s;
}
.card__remove {
    background-color: #fff;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    left: 170px;
    top: 30px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.226);
    transition: all .5s ease-in-out;
}

.card__remove img {
    width: 25px;
    height: 25px;
    transition: all .5s ease-in-out;
}

.card__remove:hover {
    filter: invert(1);
}

.card__remove:hover img {
    transform: rotate(360deg);
}
