* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*  ----------------------- Estrutura da página --------------------------- */
#edit {
    width: 100%;
    height: 100vh;
    margin: 0px auto;
    display: flex;
    place-content: center;
    background: #00a1ff;
}

.edit__conteiner {
    width: 75%;
    height: 100%;
    display: flex;
    place-content: center;
    background: transparent;
    flex-direction: row;
    align-items: flex-start;
}

/* Divisão de largura */
.edit__options {
    background: #fff;
    width: 25%;
    height: 100vh;
    font-size: 1rem;
    text-align: center;
    border-right: 2px solid #00a1ff;
    display:flex;
    flex-direction: column;
}

.edit__content {
    background: #fff;
    width: 70%;
    height: auto;
    font-size: 1rem;
}

/*  ----------------------- aside --------------------------- */
.options__photos {
    display: block;
    margin-top: 30px;
}
.options__photos h1{
    padding:5px
}
.options__photos img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.options__itens li {
    position: relative;
    padding: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.252);
    border-top: 1px solid rgba(255, 255, 255, 0.085);
}

.options__itens li>a {
    font-size: 20px;
}


.options__item {
    text-decoration: none;
    color: black;
}

.options__item:hover {
    color: rgba(23, 23, 23, 0.92);
}

/*  ----------------------- main content --------------------------- */
.edit__content {
    padding: 30px;
    height: 100vh;
}

.edit__content h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.content__form label {
    font-size: 20px;
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.content__form input:not([type="file"]),
.content__form textarea {
    width: 100%;
    padding: 14px;
    border-radius: 5px;
    border: .4px solid black;
    font-size: 16px;
}

#Sobre {
    resize: vertical;
    min-height: 200px;
    max-height: 350px; 
}
#descricao{
    width: 100%;
    padding: 14px;
    border-radius: 5px;
    border: .4px solid black;
    font-size: 16px;
}
.rowform {
    display: flex;
    gap: 10px;
}

/* Colocar o botão no final */
.form__button {
    width: 50%;
    text-align: center;
    display: block;
    margin: 0 auto;
}
.group__about .form__button {
    width:fit-content;
    text-align: center;
}
.form__button button{
    padding: 9px 30px;
    border: none;
    outline: none;
    background-color: #00a1ff;
    border: #00a1ff solid 1px;
    color: #fff;
    font-family: inherit;
    font-size: 1rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 6px;
    margin: 10px auto;
    cursor: pointer;
    transition: 0.7s all;
}
.form__button button:hover{
    border: #00a1ff solid 1px;
    color: #00a1ff;
    background-color: #fff;
}
/* Alterar Senha*/
.edit__content label::after{
    content:":";
}
.senha{
    display:flex;
    flex-direction: column;

    gap:10px;
}
/*Deletar conta*/
.buttons-delete{
    margin:5px 0;
}
.button-as{
    padding: 9px 30px;
    border: none;
    outline: none;
    background-color: #00a1ff;
    border: #00a1ff solid 1px;
    color: #fff;
    font-family: inherit;
    font-size: 1em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 6px;
    margin: 10px auto;
    cursor: pointer;
    transition: 0.7s all;
}
.button-as:hover{
    border: #00a1ff solid 1px;
    color: #00a1ff;
    background-color: #fff;
}
.delete{
    background-color: #cd0101;
    border: #cd0101 solid 1px;
    margin:5px 0;
}
.delete:hover{
    border: #cd0101 solid 1px;
    color: #cd0101;
}
.mensagem{
    color:#cd0101;
}
.mensagem-as{
    color:rgb(0, 207, 0);
}
.button-s:hover{
    background-color: #00a1ff;
    border: #00a1ff solid 1px;
    color: #fff;
}
.button-s{
    padding: 9px 30px;
    border: none;
    outline: none;
    border: #00a1ff solid 1px;
    color: #00a1ff;
    background-color: #fff;
    font-family: inherit;
    font-size: 1rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 6px;
    margin: 10px auto;
    margin-right: 5px;
    cursor: pointer;
    transition: 0.7s all;
}

/*----------------  Novo ----*/
.options__photos{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 98vw;
    background-image: url(../../../public/imgs/Cenario.png);
    background-repeat: repeat-x;
    background-size: contain;
    padding-left: 10vw;
}
#edit {
    width: 98vw;
    height: auto;
    margin: 0px auto;
    display: flex;
    background-color: #fff;
    place-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5vh;
}
.options__itens{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    gap: 0px 5px;
}
.options__itens li{
    background-color: #00a1ff;
    border: none;
    border-radius: 5px 5px 0px 0px;
    padding: 10px 25px;
    transition: 0.7s all;
}
.options__itens li .options__item{
    transition: 0.7s all;
    color: #fff;
}
.options__itens li:not(.select):hover{
    background-color: #0086d3;
}
.options__itens .select{
    background-color: #000;
}

.edit__options {
    background: #fff;
    width: 78vw;
    height: fit-content;
    font-size: 1rem;
    text-align: center;
    border-right: none;
    display: flex;
    flex-direction: column;
    
}
.edit__conteiner {
    width: 90vw;
    height: 100%;
    display: flex;
    place-content: center;
    background: transparent;
    flex-direction: column;
    align-items: center;
}
.options__photos img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 20px;
    margin: 25px 0px;
    z-index: 999;
    border: 2px solid #00a1ff;
    background-color: #00a1ff;
}
.options__photos h1 {
    background-color: #00a1ff;
    color: #fff;
    padding:10px 15px;
    padding-left: 30px;
    border-radius: 0px 10px 10px 0px;
    margin-left: -15px;
}
.edit__content{
    box-shadow: 1px 2px 7px #00000070;
    border-radius: 10px;
    z-index: 999;
    width: 80vw;
    height: auto;

}
.content__form {
    display: flex;
    gap: 10px;
    flex-direction: column;
}
#descricao {
    width: 100%;
    padding: 14px;
    border-radius: 5px;
    border: .4px solid black;
    font-size: 16px;
    height: 155px;
}
.agencia{
    margin-top: 25px;
}

.content__form input+label {
    margin-top: 25px;
}
.content__form datalist+label {
    margin-top: 25px;
}
.form__button button {
    padding: 9px 30px;
    border: none;
    outline: none;
    background-color: #00a1ff;
    border: #00a1ff solid 1px;
    color: #fff;
    font-family: inherit;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 51px;
    border-radius: 6px;
    margin: 10px auto;
    cursor: pointer;
    transition: 0.7s all;
    width: 100%;
    margin-top: 50px;
}

/*------------ Media ---*/

@media screen and (max-width: 1000px) {
    .content__form {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}
@media screen and (max-width: 860px) {
    .options__itens li a{
        font-size: 1rem;
    }
    .options__photos{
        width: 95vw;
    }
    .options__photos h1 {
        font-size: 1.2rem;
    }
    #edit {
        width: 95vw;
    }
    .rowform{
        display: flex;
        gap:10px;
        flex-direction: column;
    }
}
@media screen and (max-width: 750px) {
    .options__itens li a{
        font-size: 0.8rem;
    }
    .options__itens li{
        background-color: #00a1ff;
        border: none;
        border-radius: 5px 5px 0px 0px;
        padding: 5px 7px;
        transition: 0.7s all;
    }
}