nav{
    border-bottom:rgba(128, 128, 128, 0.407) 1px solid;
}

.form__admin #admin > h2{
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
}

.form__admin #admin > p{
    text-align: center;
}

.form__admin #admin > #email, .form__admin #admin > #senha {
    width: 100%;
    outline: none;
    border: 1px solid black;
    font-size: .9em;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.form__admin #admin > #entrar{
    width: 100%;
    padding: 8px 10px;
    font-size: 1em;
    border: 0;
    background: #00a1ff;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
    text-align: center;
}

#cadastro__section > div > div.form__admin{
    width: 50%;
    display: block;
    margin: 0 auto;
}

#main-admin{
    margin-top: -30px;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    justify-content:center;
    align-content: space-between !important;
    align-items: center;
    font-size: 1em;
    width:100vw;
}
#main-admin section{
    float: left;
}
.imagem{
    background-color: #00a1ff;
    height: 87vh;
    width: 50vw;
    padding-top: 0px;
    max-width: 50%;
    height: auto;
    position: relative;
    top: 30px;
}
.imagem img{
    height: 87vh;
}
#admin{
    width: 260px;
}
#admin,#admin h2, #admin label {
    font-size: 1em;
}
#main-admin .aside_admin{
    float:right;
    padding-left: 0;
    margin-right: 15vw;
    border: none;
    align-items: center;
    z-index: 999;
    font-size: 1em;
}
#main-admin .aside_admin input:not(#lembrar){
    width: 260px;
    height: 30px;
    margin: 5px 0;
    font-size: 0.81em;
}
#main-admin .aside_admin p{
    margin-bottom: 15px;
}
#main-admin .aside_admin a{
    font-size: 0.81em;
    color:#00a1ff;
    float:right;
}
#main-admin .aside_admin label[for="lembrar"]{
    font-size: 0.81em;
    justify-content: baseline;
}
#admin label{
    font-weight: normal;
    margin-bottom: 0px !important;
}
#entrar{
    cursor: pointer;
    background-color: #00a1ff;
    color: #fff;
    border: #00a1ff;
    border-radius: 5px;
    transition: 0.5s;
}
#entrar:hover{
    border: #00a1ff solid 1px;
    color: #00a1ff;
    background-color: #fff;
    transition: 0.5s;
}
#google{
    cursor: pointer;
    border-radius: 5px;
    background-color: #000;
    border: solid 1px #000;
    color: #fff;
    padding: 2px 0;
    width: 250px;
    height: 30px;
    margin: 5px 0 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    font-size: 0.81em;

}
#google:hover{
    background-color: #fff;
    border: solid 1px gray;
    color: rgb(37, 37, 37);
    transition: 0.5s;
}
#google img{
    width: 20px;
    padding-right: 5px;
}
.cadastro{
    margin-left: 0px;
    font-size: 0.81em;
}
.cadastro a{
    float: none;
}
.esqueceu_senha{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    font-size: 1em;
    flex-wrap: wrap;
}
.lembrar {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    font-size: 1em;
}
.lembrar label{
    margin-left: 5px;
    margin-bottom: 0px !important;
}


@media only screen and (max-width: 1140px){
    .aside_admin {
        display: flex;
    }
}

@media screen and (max-width:850px){
    #main-admin section{
        display: none;
    }
    #main-admin{
        align-content: center !important;
        justify-content: center;
    }
    #main-admin .aside_admin{
        padding-top: 100px;
        float:center;
        padding-left: 0;
        margin-right: 0px;
        border: none;
    }
}
