main.profile.column.main-faq{
  font-size: 1em;
}

main.profile.column.main-faq div {
  font-size: 1em;
}
main.profile.column.main-faq div h2 {
  font-size: 1.5em;
}

.main-faq .question-dropdown {
  background: none;
  text-align: left;
  font-weight: 600;
  font-size: 1.25em;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  cursor: pointer;
}

.main-faq details {
  height: auto;
  font-size: 1em;
}

.main-faq details,
.main-faq hr {
  width: 100vw;
  margin: 40px 0;
}

.main-faq summary {
  font-weight: 600;
  margin-left: 2rem;
  height: max-content;
  margin-bottom: 10px;
  font-size: 1em;
}

.main-faq p {
  font-weight: 400;
  margin-left: 2rem;
  height: max-content;
  margin-bottom: 40px;
  text-align: justify;
  font-size: 1em;
}

.profile {
  display: flex;
  margin: 0 auto;
  align-items: stretch;
  width: 85vw;
  height: 81vh;
}